/* =============
  Communication
============= */
@use "../helpers";

#communication {
    background-color: var(--white);
    text-align: center;
    padding: 107px 24px;
  
    p {
      color: var(--grey);
      font-weight: 600;
      line-height: 28px;
      margin: 16px auto 48px;
      max-width: 764px;
    }
  
    img {
      width: 100%;
    //   max-width: 600px;
      height: auto;
      display: block;
      margin: 0 auto;
  
      @include helpers.md {
        max-width: 576px;
      }

      @include helpers.lg {
        max-width: 768px;
      }
  
      @include helpers.xl {
        max-width: 992px;
      }
    }
  }
  