/* =============
  Communication
============= */
@use "../helpers";

#communication {
    background-color: var(--white);

    h1 {
        color: var(--nightBlue);
    }

    p {
        color: var(--grey);
    }
}