/* =============
    Newsletter
============= */
@use "../helpers";

#newsletter {
    background-color: var(--lilyWhite);
    margin: 40px 24px;
    padding: 60px 16px;
    border-radius: 8px;

    p {
        color: var(--grey);
        font-weight: 600;
        line-height: helpers.rem-calc(28);
        margin-top: 16px;
    }

    form {
        margin-top: 16px;

        input {
            border: none;
            color: var(--grey);
            font-weight: 600;
            height: 64px;
            width: 100%;
            padding: 0 16px;
            border-radius: 8px;
            margin-bottom: 16px;
        }

        button {
            border: none;
            background-color: var(--nightBlue);
            color: var(--white);
            font-size: helpers.rem-calc(14);
            font-weight: 600;
            width: 150px;
            height: 60px;
            border-radius: 6px;
            display: block;
            margin-left: auto;
        }
    }
}
  