/* =============
  Communication
============= */
@use "../helpers";

#process {
    background-color: var(--white);
    padding: 110px 24px;

    #process-description {
        margin-top: 12px;
        text-align: center;
    }

    p {
        color: var(--grey);
        font-weight: 600;
        line-height: helpers.rem-calc(28);
    }

    h4 {
        color: var(--nightBlue);
        font-size: helpers.rem-calc(24);
        font-weight: 600;
        line-height: helpers.rem-calc(34);
    }

    ul {
        li {
            margin-top: 24px;
            border: 1px solid #F5F5F7;
            border-radius: 12px;
            img {
                margin: 30px 254px 50px 30px;
            }
            h4 {
                margin-left: 30px;
                margin-right: 30px;
            }
            p {
                margin-top: 10px;
                margin-left: 30px;
                margin-right: 30px;
                margin-bottom: 30px;
            }
        }
    }
}